$main-font: 'Raleway', sans-serif;
$title-font: 'Roboto', sans-serif;
$font-color: #898F8F;
$header-color: #ffcc00;
$text-size: 14px;

// Grid variables
$container-width: 1170px;
$col-padding: 15px;

// Transition
$prop: all;
$time: 0.5s;
$funct: ease;